/**
 * Breadcrumb
 */

.cr-breadcrumb{
    padding-top: 100px;
    padding-bottom: 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    h1, h2, h3, h4, h5, h6{
        color: #ffffff;
    }
    ul{
        padding-left: 0;
        list-style: none;
        li{
            list-style: none;
            display: inline-block;
            font-family: $body-font;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #ffffff;
            &::after{
                content: "/";
                padding: 0 5px;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            a{
                display: inline-block;
                color: #ffffff;
                &:hover{
                    color: #ffffff;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media #{$lg-layout}{
    .cr-breadcrumb {
        padding-top: 60px;
        padding-bottom: 45px;
    }
}


@media #{$sm-layout}{
    .cr-breadcrumb{
        padding-top: 80px;
        padding-bottom: 65px;
        text-align: center;
        
        h3{
            width: 100%;
        }
        ul{
            width: 100%;
        }
    }
}
