/**
 * Pagination
 */

.cr-pagination{
    ul{
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: -10px;
        li{
            display: inline-block;
            list-style: none;
            margin: 0 5px;
            margin-top: 10px;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            a{
                display: inline-block;
                font-family: $body-font;
                line-height: 33px;
                min-width: 35px;
                height: 35px;
                text-align: center;
                padding: 0 5px;
                text-transform: uppercase;
                color: #555555;
                transition: all 0.3s ease;
                border-radius: 0;
                font-weight: 700;
                border: 1px solid #d5d5d5;
                font-size: 14px;
                box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
                transition: all 0.4s ease-in-out 0s;
            }
            &.active, &:hover{
                a{
                    background: $heading-color;
                    border-color: $heading-color;
                    color: #ffffff;
                }
            }
        }
    }
}