/**
 * Fullpage Styles
 */

.wrapper{
    position: relative;
}
#fp-nav{
    position: fixed;
    top: 50%;
    right: 4%;
    width: 10px;
    z-index: 9;
    ul{
        padding-left: 0;
        margin-bottom: 0;
        line-height: 1;
        li{
            line-height: 1;
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            a{
                display: inline-block;
                height: 10px;
                width: 10px;
                border: 1px solid $theme-color;
                border-radius: 100px;
                background: transparent;
                &.active{
                    background: $theme-color;
                }
            }
        }
    }
   
    @media only screen and (min-width: 1201px) and (max-width: 1400px){
        right: 10px;
    }
    
    @media #{$lg-layout}{
        right: 10px;
    }

}


#section-name{
    position: fixed;
    left:4%;
    z-index: 9;
    top: 50%;
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: 0 0;
    line-height: 1;
    min-width: 300px;
    height: 30px;
    li{
        display: block;
        height: 0;
        opacity: 0;
        text-align: center;
        transition: opacity 0.4 ease-out 0s;
        a{
            padding: 0 15px;
            display: inline-block;
            font-size: 18px;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $theme-color;
            font-family: $body-font;
            font-weight: 700;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1px;
                height: 1px;
                width: 100%;
                background: $theme-color;
            }
        }
        &.active{
            color: $theme-color;
            opacity: 1;
        }
    }

    @media only screen and (min-width: 1201px) and (max-width: 1400px){
        left: 10px;
    }

    @media #{$lg-layout}{
        left: 7px;
    }

    @media #{$md-layout}{
        left: 10px;
    }

    @media #{$sm-layout}{
        left: 8px;
    }

    @media #{$xs-layout}{
        display: none;
    }

}


.iScrollIndicator {
    display: none !important;
}

.fp-responsive .fp-slide,
.fp-responsive .fp-tableCell,
.fp-responsive .fp-section{
	height: auto !important;
}