/**
 * Photo Gallery
 */


.portfolio-filters{
    margin-bottom: 20px;
    line-height: 1;
    button{
        display: inline-block;
        font-size: 16px;
        letter-spacing: 1px;
        color: $body-color;
        font-weight: 500;
        line-height: 1;
        border: 0;
        outline: 0;
        padding: 0 10px;
        margin: 0 20px;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        z-index: 1;

        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 10px;
            width: 100%;
            background: $theme-color;
            transform: scaleX(0);
            transform-origin: center right;
            transition: transform 0.4s ease-in-out;
            z-index: -1;
        }

        &:hover, &.is-checked{
            &::before{
                transform: scale(1);
                transform-origin: center left;
            }
        }

    }
}

@media #{$md-layout}{
    .portfolio-filters {
        margin-bottom: 10px;
        button{
            margin-bottom: 10px; 
        }
    }
}
@media #{$sm-layout}{
    .portfolio-filters {
        margin-bottom: 10px;
        button {
            margin: 0 10px;
            margin-bottom: 10px;
            &:first-child{
                margin-left: 10px;
            }
            &:last-child{
                margin-right: 10px;
            }
        }
    }
}



.portfolio-margin-fixer{
    margin-top: -30px;
}
.portfolio{
    position: relative;
    background: #f1f1f1;
    margin-top: 30px;
    overflow: hidden;

    .portfolio-image{
        img{
            width: 100%;
            transform: scale(1);
            transition: all 0.4s ease-out 0s;
        }
    }

    .portfolio-content{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 30px 15px;
        background: rgba(255,255,255,0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-out 0s;
        text-align: center;
        opacity: 0;
        visibility: hidden;

        a.portfolio-zoom-button{
            height: 40px;
            width: 40px;
            line-height: 40px;
            display: inline-block;
            position: absolute;
            left: auto;
            right: 0;
            top: 0;
            transition: all 0.3s ease-out 0s;
            text-align: center;
            color: #ffffff;
            background: rgba(0,0,0,0.5);
            &:hover{
                background: $theme-color;
                color: #ffffff;
            }
        }

        h5{
            letter-spacing: 1px;
            font-weight: 600;
            margin-bottom: 6px;
            transform: translateY(-15px);
            transition: all 0.5s ease-out 0s;
            a{
                color: $heading-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }

        h6{
            margin-bottom: 0;
            letter-spacing: 2px;
            font-weight: 400;
            transform: translateY(15px);
            transition: all 0.5s ease-out 0s;
            a{
                color: $heading-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }

    &:hover{
        .portfolio-image{
            img{
                transform: scale(1.3);
            }
        }
        .portfolio-content{
            opacity: 1;
            visibility: visible;

            h5, h6{
                transform: translateY(0);
            }
        }
    }

}

@media #{$lg-layout}{
    .portfolio{
        .portfolio-content{
            a.portfolio-zoom-button {
                height: 65px;
                width: 65px;
            }
        } 
    }
}