/**
 * Testimonial
 */

.testimonial{
    background: #ffffff;
    padding: 65px 90px;
    box-shadow: 0 5px 10px rgba(#555555, 0.2);
    margin-bottom: 10px;
    position: relative;
    z-index: 1;

    .testimonial-image{
        display: inline-block;
        height: 70px;
        width: 70px;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }

    p{
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.5px;
    }

    h5{
        margin-bottom: 10px;
        font-weight: 600;
    }

    h6{
        margin-bottom: 0;
    }

    .testimonial-border-topleft, .testimonial-border-topright, .testimonial-border-bottomleft, .testimonial-border-bottomright{
        position: absolute;
        z-index: -1;
        pointer-events: none;
        &::before, &::after{
            content: "";
            position: absolute;
            background: $theme-color;
            transition: all 1s ease-out 0s;
            pointer-events: none;
            z-index: -1;
        }
    }

    .testimonial-border-topleft{
        left: 10px;
        top: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        &::before{
            left: 10px;
            top: 0;
            height: 100%;
            width: 1px;
            transform-origin: left top;
            transform: scale3d(1, 0.09, 1);
        }
        &::after{
            left: 0;
            top: 10px;
            height: 1px;
            width: 100%;
            transform-origin: left top;
            transform: scale3d(0.06, 1, 1);
        }
    }

    .testimonial-border-topright{
        position: absolute;
        left: auto;
        right: 10px;
        top: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        &::before{
            left: auto;
            right: 10px;
            top: 0;
            height: 100%;
            width: 1px;
            transform-origin: right top;
            transform: scale3d(1, 0.09, 1);
        }
        &::after{
            left: auto;
            right: 0;
            top: 10px;
            height: 1px;
            width: 100%;
            transform-origin: right top;
            transform: scale3d(0.06, 1, 1);
        }
    }

    .testimonial-border-bottomleft{
        position: absolute;
        left: 10px;
        top: auto;
        bottom: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        &::before{
            left: 10px;
            top: auto;
            bottom: 0;
            height: 100%;
            width: 1px;
            transform-origin: left bottom;
            transform: scale3d(1, 0.09, 1);
        }
        &::after{
            left: 0;
            top: auto;
            bottom: 10px;
            height: 1px;
            width: 100%;
            transform-origin: left bottom;
            transform: scale3d(0.06, 1, 1);
        }
    }

    .testimonial-border-bottomright{
        position: absolute;
        left: 10px;
        top: auto;
        bottom: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        &::before{
            left: auto;
            right: 10px;
            bottom: 0;
            height: 100%;
            width: 1px;
            transform-origin: right bottom;
            transform: scale3d(1, 0.09, 1);
        }
        &::after{
            left: 0;
            top: auto;
            bottom: 10px;
            height: 1px;
            width: 100%;
            transform-origin: right bottom;
            transform: scale3d(0.06, 1, 1);
        }
    }

    &:hover{
        .testimonial-border-topleft, .testimonial-border-topright, .testimonial-border-bottomleft, .testimonial-border-bottomright{
            &::before, &::after{
                transform: scale3d(1, 1, 1);
            }
        }
    }

    @media #{$lg-layout}{
        padding: 40px 30px;
    }

    @media #{$sm-layout}{
        padding: 40px 30px;
    }

}

.testimonial-slider{
    position: relative;
    margin-top: 35px;   

    button[class*="testimonial-arrow"]{
        height: 40px;
        width: 40px;
        color: $heading-color;
        border: 1px solid $heading-color;
        text-align: center;
        font-size: 30px;
        line-height: 1;
        margin-right: 10px;
        position: absolute;

        &.testimonial-arrow-prev{
            right: 50px;
            top: -100px;
        }

        &.testimonial-arrow-next{
            right: 0;
            top: - 100px;
        }

        &:last-child{
            margin-left: 0;
        }
        i{
            line-height: 36px;
        }
        &:hover{
            background: $theme-color;
            color: #ffffff;
            border-color: $theme-color;
        }
    }

    @media #{$lg-layout}{
        margin-top: 25px;
    } 

    @media #{$sm-layout}{
        padding-bottom: 50px;

        button[class*="testimonial-arrow"]{
            height: 35px;
            width: 35px;
            font-size: 26px;
            margin: 0;

            &.testimonial-arrow-prev{
                top: auto;
                bottom: 0;
                left: auto;
                right: calc(50% + 5px);
            }
    
            &.testimonial-arrow-next{
                top: auto;
                bottom: 0;
                right: auto;
                left: calc(50% + 5px);
            }

            i{
                line-height: 32px;
            }
        }
    } 

}